.editable-wrapper-parent {
  position: relative;
  padding: 0;
  margin:0;
}

.editable-wrapper {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: solid 1px #dbdbdb;
  border-radius: 0.5rem;
  box-shadow: none;
}

.editable-wrapper.inactive {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.editable-actions {
  position: absolute;
  top: -1.3rem;
  right: 2rem;
  gap:0.1rem;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  opacity:1;
}
