<div class="code-fragment-wrapper">
  <div class="field">    
    <div class="control">
      <div class="select">
        <select [(ngModel)]="editableCode.language" (ngModelChange)="onLanguageChange()" [disabled]="!isEditing" #editableControl>
          <option *ngFor="let lang of languages" [value]="lang.value">{{ lang.label }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <ngx-monaco-editor
        [(ngModel)]="editableCode.code"
        [options]="{ ...editorOptions, readOnly: !isEditing }"
        style="min-height: 200px; width: 100%;">
      </ngx-monaco-editor>
    </div>
  </div>
</div>
