<div *ngIf="isLoading" class="has-text-centered py-6">
  <span class="has-text-grey">Loading…</span>
</div>

<div *ngIf="error" class="notification is-danger">{{ error }}</div>

<ng-container *ngIf="!isLoading && !error">
  <p *ngIf="searchQuery" class="is-size-7 has-text-grey mb-5">
    Results for “<strong>{{ searchQuery }}</strong>”
  </p>

  <div *ngIf="posts.length === 0" class="has-text-centered py-6">
    <p class="has-text-grey">{{ searchQuery ? 'No posts match your search.' : 'No posts yet.' }}</p>
  </div>

  <article *ngFor="let post of posts; let last = last" class="content mb-5">
    <h2 class="title is-5">
      <a [routerLink]="post.url">{{ post.title }}</a>
    </h2>
    <p class="is-size-7 has-text-grey">Published {{ post.dateLastPublished | date:'mediumDate' }}</p>
    <hr *ngIf="!last" class="mt-5 list-divider" />
  </article>
</ng-container>
