@import 'bulma/bulma';

:root {
  --bulma-primary-h: 209deg;
  --bulma-primary-s: 25%;
  --bulma-primary-l: 80%;
  --bulma-link-h: 234deg;
  --bulma-link-l: 42%;
  --bulma-success-h: 121deg;
  --bulma-success-s: 73%;
  --bulma-success-l: 36%;
  --input-focus-border-color: #222; // dark grey
  --checkbox-checked-color: #222; // dark grey
  --button-bg-color: #222; // dark grey
  --button-text-color: #fff; // white
  --link-color: #222; // dark grey
}

.control.has-floating-label {
  position: relative;
}

.control.has-floating-label .label.is-floating-label {
  font-weight: normal;
  position: absolute;
  line-height: 1;
}

  .control.has-floating-label .input.is-medium {
    height: 3.75rem;
    transition-duration: 0.2s;
    color: #000;
  }

  .control.has-floating-label .input.is-medium:placeholder-shown + .label.is-floating-label {
    color: #4b5370;
    display: block;
    top: 1.375rem;
    left: 0.75rem;
    z-index: 0;
  }

  .control.has-floating-label .input.is-medium:hover + .label.is-floating-label {
    z-index: 2;
  }

  .control.has-floating-label .input.is-medium:focus, .control.has-floating-label .input.is-medium:not(:placeholder-shown) {
    padding-top: 1.5rem;
  }

  .control.has-floating-label .input.is-medium:focus + .label.is-floating-label, .control.has-floating-label .input.is-medium:not(:placeholder-shown) + .label.is-floating-label {
    color: #868585;
    top: 0.5rem;
    left: 0.75rem;
    z-index: 11;
  }

.field.has-addons .control.has-floating-label .input {
  position: static;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.field:not(:last-child) {
  margin-bottom: 1rem; // Increase spacing between all Bulma fields globally
}

.input {
  border: none;
  border-bottom: 2px solid #dbdbdb;
  border-radius: 0;
  box-shadow: none;
}

.input:focus,
.textarea:focus,
.select:focus {
  border-bottom-color: var(--input-focus-border-color);
  outline: none;
  box-shadow: none;
}

.has-floating-label {
  position: relative;
}
.input.with-floating-label,
.textarea.with-floating-label {
  background: none;
}
.input.with-floating-label + .is-floating-label,
.textarea.with-floating-label + .is-floating-label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  pointer-events: none;
  transition: 0.2s;
  color: #888;
}
.input.with-floating-label:focus + .is-floating-label,
.input.with-floating-label:not(:placeholder-shown) + .is-floating-label,
.textarea.with-floating-label:focus + .is-floating-label,
.textarea.with-floating-label:not(:placeholder-shown) + .is-floating-label {
  top: 0.3rem;
  left: 0.8rem;
  font-size: 0.75rem;
  background: #fff;
  padding: 0 0.25rem;
}

input[type="checkbox"]:checked {
  accent-color: var(--checkbox-checked-color);
}

.button.is-dark-grey {
  background-color: var(--button-bg-color) !important;
  color: var(--button-text-color) !important;
  border: none;
}

.button.is-dark-grey:hover,
.button.is-dark-grey:focus {
  background-color: #111 !important;
  color: var(--button-text-color) !important;
}

a,
.button.is-link,
.has-text-link {
  color: var(--link-color) !important;
  text-decoration:underline;
}

a:hover,
.button.is-link:hover,
.has-text-link:hover {
  color: #111 !important;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
}
