
@import 'bulma/bulma';

:root {
  --bulma-primary-h: 209deg;
  --bulma-primary-s: 25%;
  --bulma-primary-l: 80%;
  --bulma-link-h: 234deg;
  --bulma-link-l: 42%;
  --bulma-success-h: 121deg;
  --bulma-success-s: 73%;
  --bulma-success-l: 36%;
}

.control.has-floating-label {
  position: relative;
}

.control.has-floating-label .label.is-floating-label {
  font-weight: normal;
  position: absolute;
  line-height: 1;
}

  .control.has-floating-label .input.is-medium {
    height: 3.75rem;
    transition-duration: 0.2s;
    color: #000;
  }

  .control.has-floating-label .input.is-medium:placeholder-shown + .label.is-floating-label {
    color: #4b5370;
    display: block;
    top: 1.375rem;
    left: 0.75rem;
    z-index: 0;
  }

  .control.has-floating-label .input.is-medium:hover + .label.is-floating-label {
    z-index: 2;
  }

  .control.has-floating-label .input.is-medium:focus, .control.has-floating-label .input.is-medium:not(:placeholder-shown) {
    padding-top: 1.5rem;
  }

  .control.has-floating-label .input.is-medium:focus + .label.is-floating-label, .control.has-floating-label .input.is-medium:not(:placeholder-shown) + .label.is-floating-label {
    color: #868585;
    top: 0.5rem;
    left: 0.75rem;
    z-index: 11;
  }

.field.has-addons .control.has-floating-label .input {
  position: static;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.field:not(:last-child) {
  margin-bottom: 1rem; // Increase spacing between all Bulma fields globally
}
