.table-fragment-wrapper {
  padding: 1rem;
}
.table {
  margin-bottom: 0;
}
.table th, .table td {
  padding: 0.5rem;
  vertical-align: middle;
}
.table th input,
.table td input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #dbdbdb;
  background: #f9f9f9;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}
.table th input:focus,
.table td input:focus {
  border-bottom-color: #222;
  outline: none;
  background: #fff;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.table th button,
.table td button {
  margin-left: 0.25rem;
  background: none;
  border: none;
  color: #b71c1c;
  cursor: pointer;
  font-size: 1.1em;
  vertical-align: middle;
}

.table th button:hover,
.table td button:hover {
  color: #222;
}

.table select {
  margin-left: 0.25rem;
  font-size: 0.95em;
  padding: 0.1em 0.3em;
}
