.table-fragment-wrapper {
  padding: 1rem;
}
.table {
  margin-bottom: 0;
}
.table th, .table td {
  padding: 0.5rem;
  vertical-align: middle;
}
.table th input,
.table td input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #dbdbdb;
  background: #f9f9f9;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}
.table th input:focus,
.table td input:focus {
  border-bottom-color: #222;
  outline: none;
  background: #fff;
}
