.editable-wrapper-parent {
  position: relative;
  padding: 0;
  margin:0;
  margin-bottom:1.5rem;
}

.editable-wrapper {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: solid 1px #dbdbdb;
  border-radius: 0.5rem;
  box-shadow: none;
}

.editable-wrapper.inactive {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.editable-actions {
  position: absolute;
  top: 1rem;
  right: 2rem;
  gap:0.1rem;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  opacity:1;
}

.highlighted {
  animation: showHighlight 5s;
}

@keyframes showHighlight {
  0% {
    background-color: #e1e1e1;
  }

  60% {
    background-color: #e9e9e9;
  }

  100% {
    background-color: transparent;
  }
}
